<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Nueva notificacion en suitcase.com, <%= @user.name %></h1>
<p>
  Notificacion: <%= @notification.text %>
</p>
<p>
  Para mas informacion: <%= @notification.url %>.
</p>
<p>Que tenga un buen dia!</p>
</body>
</html>