<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Nueva notificaci칩n en SuitCase, <%= @user.name %></h1>
<p>
  Notificaci칩n: <%= @notification.text %>
</p>
<p>
  Para m치s informaci칩n: <%= link_to @notification.text, root_path + @notification.url %>.
</p>
<p>Que tenga un buen dia!</p>
</body>
</html>