<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Bienvenido a SuitCase, <%= @user.name %></h1>
<p>
  Estas registrado correctamente en nuestro sitio.
  Tu email es: <%= @user.email %>.<br>
</p>
<p>
  Para ingresar al sitio visita: <%= new_user_session_url %>.
</p>
<p>Gracias!</p>
</body>
</html>